@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/play-v21-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/roboto-v49-cyrillic_latin-600.woff2') format('woff2');
}

/* Base */
:root {
  --color-brand: #2a7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-gray: #747272;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main-text {
  font-size: 22px;
  line-height: 1.7;
}

.section {
  padding: 48px 0;
}

a {
  display: inline-block;
}
/* Accent */
.accent {
  color: var(--color-brand);
}

/* Buttons */
.button {
  background-color: #2a7fff;
  color: #ffffff;
  border-radius: 32px;
  border: 2px solid var(--color-brand);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  padding: 16px 32px;
}
.button:hover {
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-dark);
}
/* Header */
.link-header {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  transition: color 0.2s;
}
.header-container {
  display: flex;
  gap: 40px;
  max-width: 1300px;
  justify-content: center;
  padding: 32px 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-logo {
display: flex;
  align-items: center;
  justify-content: center;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.link-header:hover {
  color: var(--color-brand);
  font-style: normal;
}
.adress-icon {
  fill: var(--color-primary-dark);
  height: 32px;
  width: 32px;
}
/* Section 1 */
.hero-section {
  padding-top: 125px;
  padding-bottom: 126px;
  background-image: url(./image/background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
}
.hero-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: var(--color-brand);
  line-height: 0.8;
}
.secondary-text {
  font-size: 12px;
}
.cosm-clinic {
  margin-bottom: 16px;
}
.button1 {
  margin-bottom: 14px;
}
.button-box {
  display: flex;
  flex-direction: column;
  max-width: 238px;
  align-items: center;
}
/* Section 2 */
.main-text1 {
  margin-bottom: 40px;
  max-width: 709px;
}
.text-bef-aft {
  max-width: 710px;
}
.before-after-container {
  display: flex;
  gap: 32px;
}
.before-after-container {
  position: relative;
}
.accent-dark {
  color: var(--color-primary-dark);
  text-transform: capitalize;
  font-weight: 600;
}
.accent-title {
  text-transform: capitalize;
  color: var(--color-brand);
}
.first-title {
  font-family: 'Play', sans-serif;
  margin-bottom: 40px;
  font-size: 64px;
}
.photo-block {
  display: flex;
  flex-direction: column;
}
.photo-circle {
  width: 328px;
  height: 328px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 328px;
}

.photo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.after-photo {
  margin-top: 40px;
  margin-left: 172px;
}

.stars-block {
  display: flex;
  flex-direction: column;
  position: absolute;
    inset: 0;
    pointer-events: none;
}

.star1 {
  width: 64px;
 margin-top: 120px;
 margin-left: 900px;
}

.star2 {
  width: 40px;
 margin-top: 0px;
 margin-left: 1250px;
}

.star3 {
  width: 16px;
  margin-top: 180px;
  margin-left: 1250px;
}

@keyframes rotateStar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

.star1,
.star2,
.star3 {
  animation: rotateStar 3s infinite alternate ease-in-out;
  transform-origin: center;
}
/* Section 3 */
.second-title {
  font-family: 'Play', sans-serif;
  margin-bottom: 40px;
  font-size: 64px;
  text-align: center;
}
.reason-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  line-height: 1.3;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-primary-light);
  transition: transform 0.3s;
}
.reason-card:hover {
  transform: scale(1.05);
}
.reasons-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.reason-icon {
  fill: var(--color-brand);
}
/* Section 4 */
.services {
  border-radius: 120px 4px;
  height: 456px;
}
.carusel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light);
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
}
.carusel-button:hover {
  background-color: var(--color-brand);
  border: 1px solid var(--color-primary-light);
  fill: var(--color-primary-light);
}
.carusel-button.next {
  transform: rotate(180deg);
}
.services-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.services-list {
  display: flex;
  gap: 16px;
}
.services-block {
  position: relative;
  border-radius: 120px 4px;
  overflow: hidden;
  height: 456px;
  transition: transform 0.3s;
}
.services-block:hover {
  transform: scale(1.05);
}
.services-block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
}
/* Section 5 */
.button2 {
  margin: 0 auto 8px;
  display: block;
}
.main-text-bold {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-primary-light);
  text-align: center;
}
.privacy-policy-text {
  color: var(--color-secondary-gray);
  font-size: 12px;
  line-height: 1.5;
  max-width: 220px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.privacy-link {
  color: var(--color-secondary-gray);
}
.contact-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
  width: 605px;
  height: 500px;
}
.contact-section {
  padding-bottom: 94px;
}
.contact-form {
  background-color: var(--color-primary-dark);
  width: 424px;
  border-radius: 32px;
  padding: 56px 48px;
}
.contact-field {
  margin-bottom: 16px;
}
/* Footer */
.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
}
.footer::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 248px;
  height: 150px;
  background-image: url(image/products.png);
  background-repeat: no-repeat;
}
.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link-footer:hover {
  color: var(--color-brand);
}
.protected-data {
  font-weight: 400;
  font-size: 13px;
  color: var(--color-secondary-gray);
}
.adress-icon-footer {
  fill: var(--color-primary-light);
  height: 32px;
  width: 32px;
}
.footer-container {
  display: flex;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 186px;
}
.address-list,
.address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.address-info {
  width: 300px;
}
.address-list {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.address-info {
  flex-grow: 1;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* Modal */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 144px;
  padding-left: 144px;
  overflow-y: scroll;
  color: var(--color-primary-light);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

/* Form */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.form-field {
  margin-bottom: 24px;
}
.form-label {
  display: block;
}
.form-input {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 13px;
  line-height: 1.1;
  width: 100%;
  border: 2px solid var(--color-secondary-gray);
  border-radius: 32px;
  background-color: transparent;
}
.form-input:focus {
  border-color: var(--color-secondary-gray);
  background-color: var(--color-secondary-gray);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-primary-light);
}
.button-form {
  margin: 0 auto 8px;
  display: block;
}
.form-policy {
  margin: 0 auto;
  max-width: 220px;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
}
